:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-dark2: #21252934;
  --bs-dark3: #21252910;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
}

body {
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/* navbar start */
.btn-custom {
  background-color: var(--bs-dark);
}

.btn-custom:hover {
  background-color: #343a40;
}

.nv-costom {
  border-bottom: 1px solid var(--bs-dark2);
}
/* navbar end */

/* home start */
.home-costom{
  background-color: var(--bs-dark3);
}
.img-custom{
  margin-top: -3rem;
}
/* home end */

/* input start */
.contener1{
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.form {
  width: 50%;
}
form {
  margin: 20px;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
/* input end */


/* inventory start */
.contener2{
  height: 50vh;
}

.con-costom {
  width: 80%;
  padding: 20px; /* Container padding */
  border-radius: 10px; /* Container border radius */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Container box shadow */
}

table {
  width: 100%;
  
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

th {
  background-color: var(--bs-dark3);
}

.tabelnya {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tabelnya select {
  width: auto;
  height: 2rem;
}

.sorting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0,5rem;
  border-radius: 4px; /* Sudut lengkungan */
  background-color: #fff; /* Warna latar belakang */
  color: #333; /* Warna teks */
  font-size: 14px; /* Ukuran font */
  cursor: pointer; /* Pointer cursor saat diarahkan ke elemen */
}
/* inventory end */